<!DOCTYPE HTML>
<html lang="en" data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Follow Up Schedule</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>
    <link th:href="@{/js-css/style.css}" rel="stylesheet">
</head>

<body>
<div class="wrapper">
    <aside id="sidebar" class="js-sidebar">
        <!-- fragments (sidebar)-->
        <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    </aside>

    <div class="main">
        <!-- fragments (navbar)-->
        <div th:replace="~{fragments/navbar :: navbar}"></div>
        <main class="content px-3 py-2">
            <div class="container-fluid">
                <div class="mb-3">
                    <h4>Follow Up Schedule</h4>
                </div>
                <!-- Content for Follow Up Schedule -->
                <div class="card border-0">
                    <div class="card-header">
                        <h5 class="card-title">
                            <a th:href="@{/followup/schedule}" class="btn btn-warning text-light btn-sm">First Stage</a>
                            <a th:href="@{/followup/schedule2nd}" class="btn btn-secondary btn-sm">Second Stage</a>
                            <a th:href="@{/followup/schedule3rd}" class="btn btn-secondary btn-sm">Third Stage</a>
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Name</th>
                                    <th>Interested Property</th>
                                    <th>Next Follow-up</th>
                                    <th>Follow-up Stage</th>
                                    <th>Contacted</th>
                                    <th>WhatsApp</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="followUp, iterStat : ${followUps}">
                                    <td th:text="${iterStat.count}"></td>
                                    <td th:text="${followUp.leadRecord.fullName}"></td>
                                    <td th:text="${followUp.leadRecord.interestedProperty}"></td>
                                    <td th:text="${followUp.date}"></td>
                                    <td th:text="${followUp.stage}"></td>
                                    <td>
                                        <form th:action="@{/followup/secondStage/{id}(id=${followUp.id})}" method="post" class="d-inline">
                                            <button type="submit" class="btn btn-primary btn-sm">Done</button>
                                        </form>
                                    </td>
                                    <td>
                                        <a th:href="'https://wa.me/60' + ${followUp.leadRecord.phoneNumber}" class="btn btn-success btn-sm" target="_blank">WhatsApp</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- fragments (theme-toggle)-->
        <div th:replace="~{fragments/theme-toggle :: theme}"></div>

        <!-- fragments (footer)-->
        <div th:replace="~{fragments/footer :: footer}"></div>

    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js-css/script.js}" type="text/javascript"></script>
</body>
</html>
